<div ng-controller="springApiDemoController">

    <button type="button" class="btn btn-xs-sm btn-primary btn-block" ng-click="getSpringDemoApi();">getSpringDummyApiResponse</button>

    <br>
    <br>

    <p> Id is {{greeting.id}}</p>
    <p> content is {{greeting.content}}</p>


    <div class="form-group">


        <button type="button" class="btn btn-xs-sm btn-primary btn-block" ng-click="getSpringDemoApiWithUserName();">getSpringDummyApiResponse</button>

        <br>
        <br>

        <label>User</label>

        <input type="text" name="username" id = "username"class="form-group">

        <br>

        <p> Id is {{greeting.id}}</p>
        <p> content is {{greeting.content}}</p>


    </div>





</div>